.username {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.details-box {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-left: 4px solid #00bcd4;
  color: white;
}

.details-box p {
  margin: 5px 0;
  font-size: 14px;
}
